Odevler/Odev3/PresentationLayer/Service References/ServiceReference1/ServiceBusiness.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceBusiness" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53225/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53225/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53225/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceContract_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_UpdateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategory" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_UpdateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_DeleteCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_DeleteCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ListCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCategory" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ListCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ListProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:ListProduct" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ListProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListProductResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_AddSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplier" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_AddSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_UpateSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:UpateSupplier" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_UpateSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpateSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_DeleteSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSupplier" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_DeleteSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ListSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSupplier" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ListSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceContract">
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/AddCategory" message="tns:IServiceContract_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/AddCategoryResponse" message="tns:IServiceContract_AddCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/UpdateCategory" message="tns:IServiceContract_UpdateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/UpdateCategoryResponse" message="tns:IServiceContract_UpdateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/DeleteCategory" message="tns:IServiceContract_DeleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/DeleteCategoryResponse" message="tns:IServiceContract_DeleteCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ListCategory" message="tns:IServiceContract_ListCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ListCategoryResponse" message="tns:IServiceContract_ListCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/AddProduct" message="tns:IServiceContract_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/AddProductResponse" message="tns:IServiceContract_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/UpdateProduct" message="tns:IServiceContract_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/UpdateProductResponse" message="tns:IServiceContract_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/DeleteProduct" message="tns:IServiceContract_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/DeleteProductResponse" message="tns:IServiceContract_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ListProduct" message="tns:IServiceContract_ListProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ListProductResponse" message="tns:IServiceContract_ListProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/AddSupplier" message="tns:IServiceContract_AddSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/AddSupplierResponse" message="tns:IServiceContract_AddSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpateSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/UpateSupplier" message="tns:IServiceContract_UpateSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/UpateSupplierResponse" message="tns:IServiceContract_UpateSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/DeleteSupplier" message="tns:IServiceContract_DeleteSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/DeleteSupplierResponse" message="tns:IServiceContract_DeleteSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ListSupplier" message="tns:IServiceContract_ListSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ListSupplierResponse" message="tns:IServiceContract_ListSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/Login" message="tns:IServiceContract_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/LoginResponse" message="tns:IServiceContract_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceContract" type="tns:IServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/UpdateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCategory">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ListCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListProduct">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ListProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSupplier">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/AddSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpateSupplier">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/UpateSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/DeleteSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSupplier">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ListSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBusiness">
    <wsdl:port name="BasicHttpBinding_IServiceContract" binding="tns:BasicHttpBinding_IServiceContract">
      <soap:address location="http://localhost:53225/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>